{% extends '../layouts/default.twig' %}
{% set head_title = 'Dev Page' %}
{% set body_class = '' %}
{% set menu_active = 'dev-page' %}

{% block page %}

  {% include '../../modules/navbar/navbar.twig' %}

  <div class="container">
    <p>
      Here goes content.
    </p>
    
    {% include '../../modules/list/list.twig' %}
    
  </div>

  {% include '../../modules/footer/footer.twig' %}

{% endblock %}
